################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Redadeg.lmuDataPlugin/FileContentIndex/741f9338-2938-4d06-8667-16a5ae8cd066.vsidx
/.vs/Redadeg.lmuDataPlugin/FileContentIndex/75f49b5c-a337-4181-b96d-4ea0911413c0.vsidx
/.vs/Redadeg.lmuDataPlugin/FileContentIndex/cc8c5a4b-40b5-4e6b-bcc1-1a78c3275956.vsidx
/.vs/Redadeg.lmuDataPlugin/FileContentIndex/d6257f4e-0ef9-47de-9240-f184fd688e94.vsidx
/.vs/Redadeg.lmuDataPlugin/FileContentIndex/fb7f9779-2dec-42ea-a420-cafdb399312c.vsidx
/.vs/Redadeg.lmuDataPlugin/FileContentIndex
